{% load i18n %}
{% load url from future %}
{% load load_helpdesk_settings %}
{% load static from staticfiles %}
{% with request|load_helpdesk_settings as helpdesk_settings %}
<html>
<head>
<title>{% block helpdesk_title %}{% trans "ICGenealogy Feedback" %}{% endblock %}</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' href='{% static "helpdesk/helpdesk-extend.css" %}' type='text/css' />
{% block helpdesk_head %}{% endblock %}
</head>
<body id="helpdesk-body" style="padding-top: 30px;">
<div id='container' class="container">
    <div id='header' class="row">
        <!-- Put your logo here if necessary: -->
        <!-- <img class="brand pull-right" src="/media/logo.png"> -->
        <h1 style="margin-bottom: 25px;">{% trans "ICGenealogy Feedback" %}</h1>
        
    </div>
    <div id='body' class="row">
{% block helpdesk_body %}{% endblock %}
    </div>
    <div id='footer' class="row">
        <p>{% include "helpdesk/attribution.html" %}</p>
    </div>
</div>{% include "helpdesk/debug.html" %}
</body>
</html>
{% endwith %}
